.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 2rem;
  border-radius: 10px;
  background-color: #f6f2f6;
  width: 100%;
  margin: 2rem auto 0;
  webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);

  .form-submit__btn {
    text-transform: uppercase;
    font-size: 1.1rem;
    outline: none;
    background-color: #2432e8;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    line-height: 2;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    cursor: pointer;
    webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out, color .3s ease-in-out;
    
    &:hover, &:active {
      color: #c0ccc5;
      background-color: #626fff;
    }
  }
}